<Main.Base title={attrs.title}/>
<Main.Navbar />
<DisplayProducts.ShowProducts items={attrs.items._seq} />
<DisplayProducts.Pagination pagination={attrs.pagination._seq} p={attrs.p._seq}/>
<Main.Footer />
<Main.End />